Source: ros-rolling-sick-safevisionary-driver
Section: misc
Priority: optional
Maintainer: Marvin Grosse Besselmann <grosse@fzi.de>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-rolling-ament-cmake, ros-rolling-cv-bridge, ros-rolling-lifecycle-msgs, ros-rolling-rclcpp, ros-rolling-rclcpp-lifecycle, ros-rolling-sensor-msgs, ros-rolling-sick-safevisionary-base, ros-rolling-sick-safevisionary-interfaces, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-sick-safevisionary-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-rolling-cv-bridge, ros-rolling-lifecycle-msgs, ros-rolling-rclcpp, ros-rolling-rclcpp-lifecycle, ros-rolling-sensor-msgs, ros-rolling-sick-safevisionary-base, ros-rolling-sick-safevisionary-interfaces, ros-rolling-ros-workspace
Description: Provides an interface to read the sensor output of a SICK Safevisionary sensor in ROS 2
